@media only screen and (min-width:450px){
    .back{
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        height: 100%;
        
        background-repeat: no-repeat;
        background-size: 60%; 
        background-image: url(../Assets/Images/back.jpg);
    }
    
    .box{
        position: absolute;
        width: 60%;
        top: 28.66%;
        height: 50%;
        left:20%;
        
        background: rgba(85, 90, 114, 0.5);
        border-radius: 80px;
    }
    
    .home-text{
    position: absolute;
    color: rgb(248, 248, 248);
    text-align: center;
    top:20%;
    font-size: 100%;
    }
    
    .get-started{
    position: absolute;
    top: 80%;
    left:27%;
    text-align: center;
    background-color: rgba(15, 42, 161, 0.678);
    width: 40%;
    border-radius: 20px;
    padding: 1% 3%;
    color: rgb(253, 253, 253);
    }
    
    .get-started:hover{
        background-color: rgba(151, 15, 179, 0.678);
    }
}

@media only screen and (max-width:450px){
    .back{
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        height: 100%;
        
        background-repeat: no-repeat;
        background-size: 60%; 
        background-image: url(../Assets/Images/back.jpg);
    }
    
    .box{
        position: absolute;
        width: 60%;
        top: 25%;
        height: 50%;
        left:20%;
        
        background: rgba(85, 90, 114, 0.5);
        border-radius: 60px;
    }
    
    .home-text{
    position: absolute;
    color: rgb(248, 248, 248);
    text-align: center;
    top:20%;
    font-size: 90%;
    }
    
    .get-started{
    position: absolute;
    top: 80%;
    left:27%;
    text-align: center;
    background-color: rgba(15, 42, 161, 0.678);
    width: 40%;
    border-radius: 15px;
    padding: 1% 3%;
    color: rgb(253, 253, 253);
    }
    
    .get-started:hover{
        background-color: rgba(151, 15, 179, 0.678);
    }
}
