@media only screen and (min-width:450px){
    .navbar{
        position: absolute;
        height: 10%;
        left: 2.57%;
        right: 2.57%;
        top: 5%;
        
        background: #c4c4c444;
        border-radius: 60px;
    }
    
    .login{
        position: absolute;
        height: 30%;
        left: 80.71%;
        right: 9.84%;
        top: 25%;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 2vw;
        
        color: #FFFCFC;
    }
    
    .rules{
        position: absolute;
        height: 30%;
        right: 5%;
        top: 25%;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 2vw;
        
        color: #FFFCFC;
    }
    
    .qriosity{
        position: absolute;
        left: 5%;
        top: 15%;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 3vw;
        
    
        color: #ffffff;
    }
}


@media only screen and (max-width:450px){
    .navbar{
        position: absolute;
        height: 8%;
        left: 2.57%;
        right: 2.57%;
        top: 5%;
        
        background: #c4c4c444;
        border-radius: 60px;
    }
    
    .login{
        position: absolute;
        height: 30%;
        left: 70%;
        right: 11%;
        top: 35%;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 3vw;
        font-style: unset;
        
        color: #FFFCFC;
    }
    
    .rules{
        position: absolute;
        height: 30%;
        right: 5%;
        top: 35%;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 3vw;
        
        color: #FFFCFC;
    }
    
    .qriosity{
        position: absolute;
        left: 5%;
        top: 25%;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 5vw;
        
    
        color: #ffffff;
    }
}
